/* @description estilo inicial  
*      As configurações de estilo iniciais
*      devem ser definidas neste arquivo.
*
*      Com configurações de estilo iniciais,
*      o autor tenta descrever o reset de
*      padding e margin. 
*/

:root {
    background-color: #CCE5DF;
    color: #001912;
}

body {
    margin: 0;
    padding: 0;
}